.header {
  max-width: 880px;
  margin: auto;
  padding: 45px 0 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding: 45px 0 42px;
}

.header__carrito {
  display: flex;
  gap: 24px;
  align-items: center;
}
